form{

    margin-left: 100px;
}
body{
    margin-left: 700px;
    background-color: rgb(128, 0, 60);
    padding: 50px 20px 20px 50px;
   
}

h2{         
      :hover {
        color: red;
        border: 2px solid rgb(40, 60, 70);
        background-color: transparent;
        text-decoration: none;
      }
      
      :active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
}
}

